---
layout: default
title: Qian | Posts
description: Hello.
keywords: 七言千,python,linux,github,blog
---
<head>
 <link rel="shortcut icon" href="/public/images/t.ico" type="image/x-icon" />
 </head>
<div id="home">
	<ul class="posts">
		<li><strong style="color:#ff0000;">[Top]</strong> &nbsp; <a href="howtonewblog.html">hello;</a></li>
	</ul>
	<h1 id="js">python</h1>
	<ul class="posts">
		{% for post in site.tags.python %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	<h1 id="css">Linux</h1>
	<ul class="posts">
		{% for post in site.tags.linux %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	<h1 id="sicily">Others</h1>
	<ul class="posts">
		{% for post in site.tags.others %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	<h1 id="ds">DailyLife</h1>
	<ul class="posts">
		{% for post in site.tags.life %}
			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
</div>
